import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

:root {
    --cor-de-fundo: #9370DB;
    --branco: #E6E6FA;
    --preto: #000000;
    --lilas-degrade: linear-gradient(97.54deg, #9370DB 35.49%, #DDA0DD 165.37%);
    --fonte-principal: "Poppins";
    --roxo: #EE82EE;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #87CEFA;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
